extends layout

block content
			.container.login
				div.row
					div.col-sm-12
						h2 Login
						form(role='form', action='/login', method='post')
							.form-group
								label Username:
								input#username.form-control(name = 'username', type='username', placeholder='Enter username')
							.form-group
								label Password:
								input#pwd.form-control(name ='password', type='password', placeholder='Enter password')
								button.btn.btn-default(type='submit', value = 'login') Login
			div#container.text-center
				div#row
					div#col-sm-12
						h3 Don't have an account yet? Register 
							a(href='/register') here