extends layoutloggedin

block content
	.container.text-center.onepost
		div.row
			div.col-sm-12.onepost
				strong
					p= post.title
				p= post.body
				.comments
					h3 comments:
					each thing in post.comments
						p= thing.user.firstname
							|  said: 
						p= thing.body