extends layout

block content
	
	.container.text-center
		.row
			.col-sm-12
				h3 All blogposts:

	.container.text-center.allposts
		.row
			.col-sm-12.allposts
				each post in allblogposts
					.singlepost
								p 
									strong Blogpost # 
									= post.id
									p #{post.title}
									p= post.body
									form(role='form', action='comment', method='post')
										.form-group
											input#blogpostid.form-control(type="hidden", name="postid", value=post.id)
