extends layoutloggedin

block content
	
	.container.text-center
		.row
			.col-sm-12
				h3 All blogposts:

	.container.text-center.allposts
		.row
			.col-sm-12
				each thing in allblogposts
					.container.text-center.separateposts
						.row
							.col-sm-12
								p 
									strong Blogpost # 
									= thing.id
									p= thing.title
									p= thing.body
									form(role='form', action='comment', method='post')
										.form-group
											input#comment.form-control(name = 'comment')
											button.btn.btn-default(type='comment', value = 'comment') Comment
