html
	body
		title Blog Application by G. van Til
		// Stylesheets
		link(rel='stylesheet' href='css/bootstrap.css')
		link(rel='stylesheet' href='css/custom.css')
	head
		.container
				div.row
					div.col-sm-12
						h2 Register
						form(role='form', action='register', method='post')
							.form-group
								label Username:
								input#username.form-control(name = 'username')
							.form-group
								label First Name:
								input#firstname.form-control(name = 'firstname')
							.form-group
								label Last Name:
								input#lastname.form-control(name = 'lastname')
							.form-group
								label Email:
								input#email.form-control(name = 'email')
							.form-group
								label Password:
								input#password.form-control(name = 'password')
								button.btn.btn-default(type='submit', value = 'login') Register