body{
	background-color: F2F2F2;
}

content{
	background-color: F2F2F2;
}

.container.login{
	background-color:white;
	margin-top:5%;
	border: 1px solid black;
	border-radius:5px;
	width:500px;
	height:375px;
	box-shadow: 10px 10px 5px #888888;
}

.container.register{
	background-color:white;
	margin-top:3%;
	border: 1px solid black;
	border-radius:5px;
	width:500px;
	height:550px;
	box-shadow: 10px 10px 5px #888888;
}

.container.text-center.separateposts{
	width: 60%;
	border:1px solid black;
	border-radius: 5px;
	margin-top: 4%;
	box-shadow: 10px 10px 5px #888888;
}

.container.text-center.separateposts ul{
	list-style:none;
}

button{
	margin-top: 1%;
}

.col-sm-6.profile{
	width: 200px;
	border:1px solid black;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	padding-right: 20px;
}

.col-sm-6.posts{
	margin-left:20px;
}

.col-sm-12.allposts{
	border: 1px solid black;
}

.singlepost{
	border:1px solid black;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: 10px 10px 5px #888888;
}


.comments{
	border-top:1px solid black;
	border-bottom:1px solid black;
}